/.cproject~
/.project~
/AutonomousCommand.cpp~
/AutonomousCommand.h~
/build.properties~
/build.xml~
/Intake.cpp~
/Intake.h~
/Intakeoff.cpp~
/Intakeoff.h~
/Intakeon.cpp~
/Intakeon.h~
/language.settings.xml~
/OI.cpp~
/OI.h~
/org.eclipse.cdt.managedbuilder.core.prefs~
